.section-about {
  background-color: $color-grey-light;
  padding: 25rem 0;
  margin-top: -10rem;

  @include respond(tabp) {
    padding: 20rem 0 20rem 0;
  }

  &--about {
    padding: 20rem 0 12rem 0;

    @include respond(tabp) {
      padding: 15rem 0 10rem 0;
    }
  }
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/CBC_brick_wall.jpg);
  background-size: cover;
  background-position: center;
  transform: skewY(-7deg);
  margin-top: -10rem;

  & > * {
    transform: skewY(7deg);
  }

  @include respond(tabp) {
    padding: 10rem 0;
  }
}

.section-product {
  background-color: $color-grey-light;
  padding: 25rem 0 15rem 0;
  margin-top: -10rem;

  @include respond(tabp) {
    padding: 20rem 0 10rem 0;
  }
}

.section-stories {
  position: relative;
  padding: 10rem 0 7rem 0;

  @include respond(tabp) {
    padding: 10rem 0 2rem 0;
  }

  &--about {
    padding: 12rem 0;

    @include respond(tabp) {
      padding: 10rem 0;
    }
  }
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );
  @include respond(tabp) {
    padding: 10rem 0;
  }
}

.book {
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.9) 0%,
      rgba($color-white, 0.9) 50%,
      rgba($color-primary, 0.2) 50%
    ),
    url(../img/office.jpg);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);

  @include respond(tabl) {
    background-image: linear-gradient(
        105deg,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 60%,
        rgba($color-primary, 0.2) 60%
      ),
      url(../img/office.jpg);
  }

  @include respond(tabp) {
    background-image: linear-gradient(
        to right,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 100%,
        transparent 100%
      ),
      url(../img/office.jpg);
  }

  &__form,
  &__paragraph {
    width: 50%;
    padding: 6rem;

    @include respond(tabl) {
      width: 60%;
    }

    @include respond(tabp) {
      width: 100%;
      padding: 3rem;
    }
  }
}

.about-img {
  display: inline-block;
  width: 100%;
  border-radius: 3px;
  box-shadow: 0rem 1rem 2rem rgba($color-black, 0.2);
  transition: all 0.3s;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  &:hover {
    box-shadow: 0rem 2rem 4rem rgba($color-black, 0.2);
    transform: scale(1.07);
  }
}

.section-cert {
  padding: 12rem 0;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );

  @include respond(tabp) {
    padding: 10rem 0;
  }

  & .cert-img {
    display: inline-block;
    width: 100%;
    border-radius: 3px;
    box-shadow: 0rem 1rem 2rem rgba($color-black, 0.2);
    transition: all 0.3s;

    &:hover {
      box-shadow: 0rem 2rem 4rem rgba($color-black, 0.2);
      transform: scale(1.02);
    }
  }
}
